body{
	background-color:lightyellow;
	font-size: 20px;
	font-family:Vrinda;
	margin:20px;
	text-align:justify;
}


img{
	border:2px solid black;
	background-color:lightblue;
	padding:10px;
	border-radius:10%;
	text-align: center;
}

img:hover{
	transform:scale(1.1);
}

h2{
	font-size: 35px;
	background-color: yellow;
	color: green;
	text-align: center;
}

h3{
	font-size: 30px;
	background-color: black;
	color: white;
	text-align: center;
}

h4{
	background-color:skyblue;
	color: black;
}

h6{
	font-size:25px;
	background-color: lightgreen;
	color: black;
	text-align: center;
}

p{
	font-size: 20px;
	background-color: white;
	color: black;
	text-align:justify;
}


h1{
	font-size: 40px;
	background-color:pink;
	color: red;
	color:blue;
	text-align: center;
}

div{
	img{
		margin-bottom:15px;
		margin-top: 15px;
		width: 45%;
	}
}

span{
	font-weight:bold;
}

#main{
	font-size:40px;
	margin:0px;
}

@media (max-width:1100px){
	img{
		width:90%;
	}

	div{
		img{
			width: 90%;
		}
	}
}